<!DOCTYPE html>
<html lang="en">

    <title>Home Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" id="style">

    <body>
        <div class="container flex align-items-center text-center">
            <div class="base mx-auto">
                
            </div>
        </div>
    </body>

</html>