<%- include('partials/header'); %>

<nav class="navbar fixed-top navbar-dark" style="background-color: black;">
   <video src="images/logo.mp4"></video>                 
</nav>

<div class="container">
            
</div>

<%- include('partials/footer'); %>